.caja3{
    height: 1500px;
    background-image: url('/img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width:414px){
    .caja3{
        width: 100%;
        height: 500px;
        background-image: url('/img/4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    }