.parallax {
    /* The image used */
    background-image: url('/img/foto2.png');
  
    /* Full height */
    height: 1500px;; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45em;
    opacity: 0.1;
  }


  @media screen and (max-width:414px){

    .parallax {
    /* The image used */
    background-image: url('/img/foto2.png');

    /* Full height */
    height: 500px;; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5em;
    opacity: 0.1;
    
    }


  }